*,
*:before,
*:after {
  /* chrome 9-, safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, ios5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: "Noto Sans TC", sans-serif;
}
div {
  width: 40%;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: rgb(207, 194, 197);
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(20, 19, 19, 0.774);
  border-radius: 4px;
  transition: 0.3s ease border;
}
input[type="text"]:focus,
select:focus {
  outline: none;
  border: 3px solid rgb(150, 126, 131);
  background-color: rgba(235, 224, 226, 0.342);
}
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease background-color;
}
form input {
  font-family: inherit;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
input[name="search"] {
  padding-left: 40px;
  background-image: url("https://img.icons8.com/material-two-tone/24/000000/search.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
